# Python
.venv/
__pycache__/
*.pyc
.env
data/

# IDE
.vscode/

# Database / SQL
test.sql

# Terraform
.terraform/          
*.tfstate            
*.tfstate.backup
terraform.tfvars      
.terraform.lock.hcl   

# Airflow
logs/
airflow/logs/
airflow/*.db
airflow/*.pid
.airflow/
airflow_home/

.venv/
__pycache__/
*.db