# Python
.venv/
__pycache__/
*.pyc
.env
data/

# IDE
.vscode/

# Database / SQL
test.sql

# Terraform
**/.terraform/
**/.terraform/*
**/terraform.tfvars
**/*.tfstate
**/*.tfstate.backup
**/.terraform.lock.hcl


# Airflow
logs/
airflow/logs/
airflow/*.db
airflow/*.pid
.airflow/
airflow_home/

.venv/
__pycache__/
*.db

# EMR artifacts
*.tar
*.tar.gz


.venv_emr_embeddings/
environment.tar.gz
src_package.zip