# Example Terraform variables file
# Copy this file to terraform.tfvars
# and fill in real values (do NOT commit secrets)

aws_region = "eu-central-1"

project_name = "project3-recommender"

s3_bucket_name = "project3-recommender-data-lake-123456"

# RDS configuration
existing_rds_instance_identifier = "rds-instance-name"