# AWS
AWS_REGION=eu-central-1

# S3
S3_BUCKET=
S3_RAW_PREFIX=raw/
S3_SILVER_PREFIX=silver/
S3_GOLD_PREFIX=gold/

# ML/Embeddings Config
EMBEDDING_MODEL_VERSION=all-MiniLM-L6-v2

# MongoDB Atlas
MONGODB_URI=
MONGODB_DB=
MONGODB_COLLECTION_REVIEWS=

# RDS Postgres + pgvector
RDS_HOST=
RDS_PORT=5432
RDS_DBNAME=
RDS_USER=
RDS_PASSWORD=