# AWS
AWS_REGION=eu-central-1

# S3
S3_BUCKET=
S3_RAW_PREFIX=raw/
S3_STAGING_PREFIX=staging/
S3_MLREADY_PREFIX=mlready/

# ML/Embeddings Config
EMBEDDING_MODEL_VERSION=all-MiniLM-L6-v2

# MongoDB Atlas
MONGODB_URI=
MONGODB_DB=
MONGODB_COLLECTION_REVIEWS=

# RDS Postgres + pgvector
RDS_HOST=
RDS_PORT=5432
RDS_DBNAME=
RDS_USER=
RDS_PASSWORD=

# Size of data chunks for ingestion proccess
CHUNK_SIZE=5000